<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Zeeslag - Start</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welkom bij Zeeslag</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        <div class="buttons">
            <!-- Formulier voor een nieuwe game -->
            <form action="{{ url_for('create_game') }}" method="post">
                <button type="submit" class="btn new-game">Nieuwe Game Starten</button>
            </form>
            <!-- Formulier voor het joinen van een bestaande game -->
            <form action="{{ url_for('join_game') }}" method="post">
                <input type="text" name="game_code" placeholder="Voer game code in" required>
                <button type="submit" class="btn join-game">Join Game</button>
            </form>
        </div>
    </div>
</body>
</html>
